
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Hind+Siliguri:wght@300&family=Mukta:wght@200&family=Open+Sans:wght@300&family=Roboto+Slab:wght@600&family=Roboto:wght@300&family=Ubuntu+Mono&display=swap');

/* Top navigation bar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #121435;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-family: 'Alkatra', sans-serif;
    color: #000000;
    font-size: 1.1em;
}

/* Bottom subscription bar */

.subscribe {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #121435;
    border-top: 1px solid #ccc;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe h2 {
    margin: 2px 0px;
    font-size: 1.2em;
    color: #faf9f0;
}

.subscribe label {
    color: #faf9f0;
    padding-right: 10px;
}
.subscribe button:hover {
    cursor: pointer;
}

form {
    font-family: "Hind Siliguri", Helvetica, sans-serif; 
}

button {
    margin: 0 10px;
    padding: 2px 20px;
}

/* article area */

h1, h2, h3 {
    font-family: 'Alkatra', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}

body {
    margin: 40px 0px 120px 0px;
    background-color: #faf9f0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    max-width: 800px;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
}

ol{
    padding: 20px;
}

li {
    max-width: 750px;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.award-list {
    display: flex;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    list-style: none;
}
  
li .menu-icon {
margin-right: 10px;
}

article {
    padding-left: 0px;
    padding-right: 0px;
  }

/* Mobile Responsive */
@media only screen and (max-width: 767px) {
    article {
      padding-left: 20px;
      padding-right: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        font-size: 0.8em;
    }
  }
/* Media items */

img {
    max-width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
    max-width: 800px;   
    font-family: "Hind Siliguri", Helvetica, sans-serif; 
}

/* Reviews Page - Card Part */

.review-page h1 {
    margin-bottom: 10px
}

tbody {
    display: flex;
    flex-wrap: wrap;
    font-family: "Hind Siliguri", Helvetica, sans-serif; 
}
  
.reviews-page { 
    max-width: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    margin: 3.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 25px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.reviews-name {
    border-radius: 15px 15px 0 0;
    padding-top: 10px;
}

.reviews-date, .reviews-name {
    text-align: left;
    padding-left: 20px;
    background-color: #f0eeda;
}

.reviews-rating {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    background-color: #f0eeda;
}

.reviews-review {
    text-align: left;
    padding: 0 20px 10px 20px;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

/* Reviews Page - Form Part */

.review-form-input-area {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.form-review textarea {
    height: 150px;
    width: 100%;
  }

  .form-name-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


.reviews-form button {
    margin: 0 10px;
    padding: 2px 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #edebca;
    font-family: "Hind Siliguri", Helvetica, sans-serif; 
    font-weight: bold;
}

.reviews-form button:hover {
    cursor: pointer;
}

/* Mobile Responsive */
@media screen and (min-width: 768px) {
    .review-form-input-area {
      padding: 35px;
      max-width: 800px;
      margin: 0 auto;
    }
  
    .form-review textarea {
      width: 700px;
    }
  
    .form-name-date {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .form-name,
    .form-date {
      margin-bottom: 0;
    }
    
  }
  
  
  
  
  
  